<head>
    <title>Login</title>
</head>

<body>
    <div class="account-container">
        <div class="container login-container">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h4>LOGIN</h4>
                </div>
                <div class="card-body">
                    {{#if message}}
                    <div class="alert alert-info">{{message}}</div>
                    {{/if}}
                    <form action="/auth/login" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="Enter your email..."
                                    required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" name="password"
                                    placeholder="Enter your password..." required>
                            </div>
                        </div>
                        <button type="submit" class="btn w-100">Login</button>
                    </form>
                    <p class="mt-3 text-center" style="color: white;">New User?<a href="/auth/register" class="toggle">
                            Register here!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
