{{#> layouts/main }}

<form action="/auth/register" method="post">
    <h1>Đăng ký</h1>
    
    Họ và tên: <input type="text" name="fullname" required>
    <br><br>
    
    Email: <input type="email" name="email" required>
    <br><br>
    
    Mật khẩu: <input type="password" name="password" required>
    <br><br>
    
    Vai trò: 
    <select name="role" required>
        <option value="student">Student</option>
        <option value="tutor">Tutor</option>
        <option value="admin">Admin</option>
    </select>
    <br><br>
    
    <input class="btn btn-success" type="submit" value="Đăng ký">
</form>

<p>Đã có tài khoản? <a href="/auth/login">Đăng nhập ngay</a></p>

{{#if message}}
    <p style="color: green;">{{message}}</p>
{{/if}}

{{/layouts/main}}