<h1>Add Meeting</h1>

<div class="container">
    <form action="/meeting/add" method="post">
        <label for="">Title</label>
        <input type="text" id="" name="title" required>

        <label for="">Form</label>
        <input type="text" id="" name="form" required>

        <label for="">Location</label>
        <input type="text" id="" name="location" required>

        <label for="">Status</label>
        <input type="text" id="" name="status" required>

        <label for="">Note</label>
        <input type="text" id="" name="note" required>

        <input type="submit" value="Add">
    </form>
</div>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=url],
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>