{{#> layouts/main }}

<h2>Dashboard - Sinh Viên</h2>
<p>Chào mừng, [Tên Sinh Viên]!</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lịch hẹn</h5>
                <p>Xem và quản lý lịch hẹn với giảng viên.</p>
                <a href="/appointment" class="btn btn-primary">Xem lịch</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tài liệu</h5>
                <p>Truy cập tài liệu học tập.</p>
                <a href="/document" class="btn btn-primary">Xem tài liệu</a>
            </div>
        </div>
    </div>
</div>

{{/layouts/main}}
