<head>
    <title>Home</title>
</head>
<style>
    .hero-image {
        filter: blur(2px);
        width: 100%;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        color: black;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <img class="hero-image"
                src="https://www.pcisecuritystandards.org/wp-content/uploads/2022/05/document-library.jpg" />
            <div class="hero-text">
                <h1 class="display-15">Welcome to Our Document Library</h1>
                <p class="display-18">Browse and manage your documents easily</p>
            </div>
        </div>
    </div>
</body>