<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quản lý người dùng</title>
    
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/users">Danh sách người dùng</a> |
        <a href="/users/add">Thêm người dùng</a>
    </nav>
    {{{body}}}
</body>
</html>
