<head>
    <title>List of users</title>
</head>

<style>
    .search-container {
        margin-bottom: 20px;
        align-items: center;
    }

    .search-btn {
        background-color: #0056b3;
        color: white;
        border: none;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .search-btn:hover {
        background-color: #003366;
    }

    .user-list-container {
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .user-list a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .user-list a:hover {
        color: #007bff;
    }
</style>

<body>
    <!-- Danh sách người dùng -->
    <div class="container user-list-container">
        <h2 class="text-center mb-3">Choose a person to chat with</h2>

        <!-- Thanh tìm kiếm -->
        <div class="search-container">
            <form action="/message/search" method="get" class="d-flex">
                <input type="text" name="query" class="form-control" placeholder="Search for user..." required>
                <button type="submit" class="search-btn"><i
                        class="search-icon fa-solid fa-magnifying-glass fa-xl"></i></button>
            </form>
        </div>

        <ul class="list-group user-list">
            {{#each users}}
            <li class="list-group-item d-flex align-items-center">

                <a href="/message/chat/{{this._id}}" class="flex-grow-1">{{this.fullname}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</body>