{{#> layouts/main }}

<h2>Đặt lịch hẹn</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ngày</th>
            <th>Giảng viên</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12/03/2025</td>
            <td>GV. Nguyễn Văn A</td>
            <td>Đã xác nhận</td>
        </tr>
    </tbody>
</table>

<a href="/appointment/add" class="btn btn-success">Đặt lịch mới</a>

{{/layouts/main}}
