<h1>Thêm người dùng</h1>
<form action="/users/add" method="POST">
    <input type="text" name="name" placeholder="Tên" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="submit" value="Add">
</form>
<a href="/users">
    <button type="button">Quay lại danh sách</button>
</a>